*
!.gitignore
!starship.toml
!Trolltech.conf

!godot/
!i3/
!kitty/
!fastfetch/
!nvim/
!picom/
!polybar/
!X11/
!dunst/
!grub-theme/
!bash/
!wallpaper/
!ly/
!icons/
!gtk-3.0/
!rofi/

!godot/**
!i3/**
!kitty/**
!fastfetch/**
!nvim/**
!picom/**
!polybar/**
!X11/**
!dunst/**
!grub-theme/**
!bash/**
!wallpaper/**
!ly/**
!icons/**
!gtk-3.0/**
!rofi/**

bash/.bash_history
pokemon_logo.txt
godot/recent_dirs
