*
!.gitignore
!starship.toml

!godot/
!i3/
!kitty/
!fastfetch/
!nvim/
!picom/
!polybar/
!X11/
!dunst/
!grub-theme/
!bash/
!wallpaper/

!godot/**
!i3/**
!kitty/**
!fastfetch/**
!nvim/**
!picom/**
!polybar/**
!X11/**
!dunst/**
!grub-theme/**
!bash/**
!wallpaper/**

pokemon_logo.txt
godot/recent_dirs
